.navbar {
  background-color: rgb(72, 72, 151);
  margin-top: 0;
  top: 0;
  color: white;
}

img {
  height: 60%;
  width: auto;
}

.img-details {
  display: flex;
  height: 400px;
  margin: auto;
}

button {
  background-color: rgb(72, 72, 151);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: rgb(72, 72, 151);
  border: 1px solid rgb(72, 72, 151);
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 10%;
  padding: 0;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  height: 300px;
  width: 300px;
  max-width: 80%;
  margin: 2rem;
}

.details {
  width: 1400px;
  max-width: 60%;
  margin: 0 auto;
  border: 2px solid #444;
  padding: 2rem;
}

.details > h1 {
  text-align: center;
}

.details-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

/* mediaqueries */
@media (max-width: 900px) {
  .details {
    width: 100%;
  }
  .img-details {
    height: 200px;
  }
  .list-item {
    width: 100%;
    max-width: 100%;
  }
  .details-list {
    flex-direction: column;
  }
}
